
<div class="sidebar-wrapper" data-simplebar="init"
    *ngIf="router.url !== '/login' && router.url !== '/register'  && router.url !== '/' && router.url !=='/forget-password' && !router.url.includes('/create-password') && !router.url.includes('/admin-dashboard') && !router.url.includes('/register-superadmin-user')" 
>
    <div class="simplebar-wrapper" style="margin: 0px;">
        <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                    <div class="simplebar-content mm-active" style="padding: 0px;">
                        <div class="sidebar-header">
                            <div>
                                <!-- <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon"> -->
                            </div>
                            <div>
                                <h4 class="logo-text">IT PORTAL</h4>
                            </div>
                            <div class="toggle-icon ms-auto"><i class="bx bx-arrow-to-left"></i>
                            </div>
                        </div>
                        <!--navigation-->
                        <ul class="metismenu mm-show" id="menu">
                            <li >
                                <a routerLink="/dashboard"  aria-expanded="true">
                                    <div class="parent-icon"><i class="bx bx-home-circle"></i>
                                    </div>
                                    <div class="menu-title">Dashboard</div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/user-form"  >
                                      <!-- <a routerLink="/user-form"   aria-expanded="true"> -->
                                <!-- <a [routerLink] = "['/user-form']"  (click)="test()"> -->
                                    <!-- <a [routerLink] = "['/user-form']"  fragment="step-1"> -->
                                <!-- <a [fragment]="step-1" [routerLink]="['/user-form']"> -->
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">All Projects</div>
                                </a>
                                <!-- <ul class="mm-collapse">
                                    <li> <a href="app-emailbox.html"><i class="bx bx-right-arrow-alt"></i>Email</a>
                                    </li>
                                    <li> <a href="app-chat-box.html"><i class="bx bx-right-arrow-alt"></i>Chat Box</a>
                                    </li>
                                    <li> <a href="app-file-manager.html"><i class="bx bx-right-arrow-alt"></i>File Manager</a>
                                    </li>
                                    <li> <a href="app-contact-list.html"><i class="bx bx-right-arrow-alt"></i>Contatcs</a>
                                    </li>
                                    <li> <a href="app-to-do.html"><i class="bx bx-right-arrow-alt"></i>Todo List</a>
                                    </li>
                                    <li> <a href="app-invoice.html"><i class="bx bx-right-arrow-alt"></i>Invoice</a>
                                    </li>
                                    <li> <a href="app-fullcalender.html"><i class="bx bx-right-arrow-alt"></i>Calendar</a>
                                    </li>
                                </ul> -->
                            </li>
                            <!-- <li>
                                <a href="javascript:;" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Application Status</div>
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="javascript:;" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">My Application</div>
                                </a>
                            </li> -->
                            <li>
                                <a routerLink="/search-register-accounts">
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Project In Progress </div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/submit-applications" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Submited Projects</div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/my-certificate" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">New Projects</div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/company-profile" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Rejected Project</div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/renewal-certificate" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Renewal Of Certificate</div>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/our-certificate" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Our Certificate</div>
                                </a>
                            </li>
                            <!-- <li>
                                <a routerLink="/search-register-accounts" >
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Search Registered Accounts </div>
                                </a>
                            </li> -->
                            <li>
                                <a>
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Reports </div>
                                </a>
                            </li>
                            <li>
                                <a  routerLink="/application-form">
                                    <div class="parent-icon"><i class="bx bx-category"></i>
                                    </div>
                                    <div class="menu-title">Application Form </div>
                                </a>
                            </li>
                        </ul>
                        <!--end navigation-->
                    </div>
                </div>
            </div>
        </div>
        <div class="simplebar-placeholder" style="width: auto; height: 1391px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="height: 92px; transform: translate3d(0px, 0px, 0px); display: block;">
        </div>
    </div>
</div>