/* .simplebar-mask{
    background-color: #21834b;
} */
.simplebar-mask{
    background-image: url(../../../Images/bg3.png);
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
.sidebar-wrapper .metismenu a{
color: #fff;
}
