<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">User Profile</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <!-- <div class="btn-group">
                    <button type="button" class="btn btn-primary">Settings</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">	<span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end" style="margin: 0px;">	<a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">Another action</a>
                        <a class="dropdown-item" href="javascript:;">Something else here</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
                    </div>
                </div> -->
            </div>
        </div>
        <!--end breadcrumb-->
        <div class="container">
            <div class="main-body">
                <div class="card" style="padding: 10%;">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="assets/images/avatars/avatar-2.png" alt="Admin"
                                        class="rounded-circle p-1 bg-primary" width="110">
                                    <div class="mt-3">
                                        <h4>John Doe</h4>
                                        <p class="text-secondary mb-1">Full Stack Developer</p>
                                        <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                        <button class="btn btn-primary">Follow</button>
                                        <button class="btn btn-outline-primary">Message</button>
                                    </div>
                                </div>
                                <hr class="my-4">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div _ngcontent-luu-c31="" class="card">
                            <div _ngcontent-luu-c31="" class="card-body">
                                <div _ngcontent-luu-c31="" class="row mb-3">
                                    <div _ngcontent-luu-c31="" class="col-sm-3">
                                        <h6 _ngcontent-luu-c31="" class="mb-0">Full Name</h6>
                                    </div>
                                    <div _ngcontent-luu-c31="" class="col-sm-9 text-secondary"><input
                                            _ngcontent-luu-c31="" type="text" value="John Doe"
                                            class="form-control"></div>
                                </div>
                                <div _ngcontent-luu-c31="" class="row mb-3">
                                    <div _ngcontent-luu-c31="" class="col-sm-3">
                                        <h6 _ngcontent-luu-c31="" class="mb-0">Email</h6>
                                    </div>
                                    <div _ngcontent-luu-c31="" class="col-sm-9 text-secondary"><input
                                            _ngcontent-luu-c31="" type="text" value="john@example.com"
                                            class="form-control"></div>
                                </div>
                                <div _ngcontent-luu-c31="" class="row mb-3">
                                    <div _ngcontent-luu-c31="" class="col-sm-3">
                                        <h6 _ngcontent-luu-c31="" class="mb-0">Phone</h6>
                                    </div>
                                    <div _ngcontent-luu-c31="" class="col-sm-9 text-secondary"><input
                                            _ngcontent-luu-c31="" type="text" value="(239) 816-9029"
                                            class="form-control"></div>
                                </div>
                                <div _ngcontent-luu-c31="" class="row mb-3">
                                    <div _ngcontent-luu-c31="" class="col-sm-3">
                                        <h6 _ngcontent-luu-c31="" class="mb-0">Mobile</h6>
                                    </div>
                                    <div _ngcontent-luu-c31="" class="col-sm-9 text-secondary"><input
                                            _ngcontent-luu-c31="" type="text" value="(320) 380-4539"
                                            class="form-control"></div>
                                </div>
                                <div _ngcontent-luu-c31="" class="row mb-3">
                                    <div _ngcontent-luu-c31="" class="col-sm-3">
                                        <h6 _ngcontent-luu-c31="" class="mb-0">Address</h6>
                                    </div>
                                    <div _ngcontent-luu-c31="" class="col-sm-9 text-secondary"><input
                                            _ngcontent-luu-c31="" type="text"
                                            value="Bay Area, San Francisco, CA" class="form-control"></div>
                                </div>
                                <div _ngcontent-luu-c31="" class="row">
                                    <div _ngcontent-luu-c31="" class="col-sm-3"></div>
                                    <div _ngcontent-luu-c31="" class="col-sm-9 text-secondary"><input
                                            _ngcontent-luu-c31="" type="button" value="Save Changes"
                                            class="btn btn-primary px-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>
        </div>
    </div>
</div>