<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">RENEW FOR CERTIFICATION </div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Renew for certificates </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        <div class="main-body">
            <hr>
            <div class="card" style="padding: 5%;">
        <div  style="padding: 5% 10%">
        <div class="row">
            <!-- <div class="col-md-12">
                <label for="inputConfirmPassword" class="form-label">Upload updated BPP Certificate
                </label>
                <div class="input-group"> <span
                        class="input-group-text bg-transparent"><i
                            class="bx bxs-lock"></i></span>
                    <input type="text" class="form-control border-start-0"
                        id="inputConfirmPassword" placeholder="Confirm Password">
                </div>
            </div>
            <br/>  <br/>  <br/>  <br/>
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label"> Upload updated BPP Certificate
                    </label>
                    <input type="file" class="form-control">
                </div>
            </div>   -->
            <div  class="col-xl-6">
                <div  class="card radius-15">
                    <div class="card-body text-center">
                        <div  class="border radius-15" style="Padding:10%; text-align: justify;">
                            
                            <h5 class="mb-2 mt-2"><strong> Enter  certificate number</strong></h5>
                            <div class="input-group"> <span
                                class="input-group-text bg-secondary"></span>
                            <input type="text" class="form-control border-start-0"
                                id="inputConfirmPassword" placeholder="Enter Certificate Number">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-xl-6">
                <div  class="card radius-15">
                    <div class="card-body text-center">
                        <div  class="border radius-15" style="Padding:10%;text-align: justify;" >
                            
                            <h5 class="mb-2 mt-2"> <strong> Upload Previous Certificate </strong></h5>
                            <input type="file" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col" style="text-align:center;">
            <button type="button" class="btn btn-success p-3"><strong>Apply For Renewal</strong></button>
        </div>
        <!--end row-->
   
</div>
</div>
</div>
</div>
</div>