
  ::ng-deep #pie {
    height: 440px;
  }
  
  ::ng-deep #pie * {
    margin: 0 auto;
  }
  ::ng-deep #chart {
    height: 440px;
  }
  ::ng-deep .active {
    font-weight: 500;
  }
  .card{
    background-color: #ffffff66;
  }
  .inner-card{
    padding: 3% 2%;
  }