
    <div class="limiter">
        <div class="container-login100 bg" >
            
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <!-- <span class="login100-form-logo">
                        <i class="fa fa-user"></i>
                    </span> -->
    
                    <!-- <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span> -->
    
                    <div class="card-body">
                        <div class="border p-4 rounded">
                            <div class="text-center">
                                <h3 class="head-in">Forget Password</h3>
                            </div>
                            <div class="login-separater text-center mb-4"> <span>WRITE YOUR EMAIL</span>
                                <hr>
                            </div>
                            <div class="form-body" >
                                <form class="row g-3" #form="ngForm"   (ngSubmit)="forget()">
                                    <!-- <form   class="row g-3" 
                                     *ngIf="!isLoggedIn"
                                    name="form"
                                    (ngSubmit)="f.form.valid && onSubmit()"
                                    #f="ngForm"
                                    novalidate 
                                    > -->
                                 
                                    <div class="col-12">
                                        <div class="form-group">
                                        <label for="inputEmailAddress" class="form-label">Enter Email </label>
                                        <input type="email" class="form-control" id="inputEmailAddress" placeholder="Email" class="form-control" name="email" [(ngModel)]="foget.email">
                                        <!-- <input type="text" class="form-control" id="inputEmailAddress" placeholder="Full Name" name="name" [(ngModel)]="User.username"> -->
                                        <!-- <div *ngIf="User.username['username'].errors" class="invalid-feedback">
                                            <div *ngIf="User.username['username'].errors?.['required']">User Name is required</div>
                                        </div> -->
                                        <!-- <div
                                        class="alert alert-danger"
                                        role="alert"
                                        *ngIf="User.username.invalid"
                                      >
                                        Username is required!
                                      </div> -->
                                    </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-grid">
                                            <!-- <button type="submit" class="btn btn-primary rg-bt"><i class="bx bxs-lock-open"></i>Sign in</button> -->
                                            <!-- <a routerLink="/" class="btn btn-primary rg-bt"><i class="bx bxs-lock-open"></i>Sign in</a> -->
                                            <button  class="btn btn-primary rg-bt">
                                                
                                                <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                                                <i class="bx bxs-lock-open"></i>Forget
                                            </button>
                                            <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                                            
                                        </div>
                                    </div>
                                </form>  
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>