<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">My Company Profile</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">My Company Profile</li>
                    </ol>
                </nav>
            </div>
            
        </div>
        <!--end breadcrumb-->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Company Profile</h5>
                <hr>
                <div class="accordion accordion-flush" id="accordionFlushExamples">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">General Company Information</h5>
                  </button>
                </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                             <h5 class="mb-0 text-primary">General Company Information</h5> 
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Company Name
                                                   </label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Website Address
                                                    (Url)</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastName2" class="form-label">Primary Contact
                                                    Person</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName2" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputPhoneNo" class="form-label">Contact Person's Mobile
                                                    Number</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-microphone"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputPhoneNo" placeholder="Phone No">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmailAddress" class="form-label">Telephone
                                                    Number</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-message"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputChoosePassword" class="form-label">Email
                                                    Address</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock-open"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputChoosePassword" placeholder="Choose Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputConfirmPassword" class="form-label">Corporate
                                                    Headquarters</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputConfirmPassword" class="form-label">Location (with
                                                    geo-location) of office</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputConfirmPassword" class="form-label">State</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputConfirmPassword" class="form-label">R.C.
                                                    No.</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputConfirmPassword" class="form-label">Name of Chief
                                                    Executive Officer</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputConfirmPassword" class="form-label">C.E.O's
                                                    Email</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputConfirmPassword" class="form-label">C.E.O's Phone
                                                    Number</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-lock"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputConfirmPassword" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Shareholding</h5>
                  </button>
                </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Shareholding</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Shareholder
                                                    Name</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputPhoneNo" class="form-label">% of Shares Held
                                                    (Numeric Entry Only)</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-microphone"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputPhoneNo" placeholder="Phone No">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmailAddress"
                                                    class="form-label">Nationality</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-message"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputAddress3" class="form-label">Full Address</label>
                                                <textarea class="form-control" id="inputAddress3"
                                                    placeholder="Enter Address" rows="3"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Management Team</h5>
                  </button>
                </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Management Team</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Name</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputPhoneNo" class="form-label">Position</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-microphone"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputPhoneNo" placeholder="Phone No">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmailAddress" class="form-label">Technical
                                                    Skills</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-message"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmailAddress"
                                                    class="form-label">Nationality</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-message"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Employee(s)</h5>
                  </button>
                </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Employee(s)</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Name</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmailAddress" class="form-label">Phone
                                                    number</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-message"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="inputAddress3" class="form-label">Address</label>
                                                <textarea class="form-control" id="inputAddress3"
                                                    placeholder="Enter Address" rows="3"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Company Contact Person</h5>
                  </button>
                </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Company Contact Person</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Name</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputPhoneNo" class="form-label">Phone number</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-microphone"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputPhoneNo" placeholder="Phone No">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputEmailAddress"
                                                    class="form-label">Nationality</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-message"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingsix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Financials</h5>
                  </button>
                </h2>
                        <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Financials</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputState" class="form-label">Select Year Turnover
                                                    Range </label>
                                                <select id="inputState" class="form-select">
                                                    <option selected="">Select Range</option>
                                                    <option>1 - 1,000,000</option>
                                                    <option>1,000,000 - 10,000,000</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Service Categories</h5>
                  </button>
                </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Service Categories</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="mb-3">
                                                <label class="form-label">Multi Select</label>
                                              
                                                    <select multiple=""
                                                    data-role="tagsinput" class="visually-hidden">
                                                    <option value="Amsterdam" selected="selected">Amsterdam</option>
                                                    <option value="Washington" selected="selected">Washington
                                                    </option>
                                                    <option value="Sydney" selected="selected">Sydney</option>
                                                    <option value="Beijing" selected="selected">Beijing</option>
                                                    <option value="Cairo" selected="selected">Cairo</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Type of Business</h5>
                  </button>
                </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Type of Business</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="mb-3">
                                                <label class="form-label">Multi Select</label>
                                              
                                                    <select multiple=""
                                                    data-role="tagsinput" class="visually-hidden">
                                                    <option value="Amsterdam" selected="selected">Amsterdam</option>
                                                    <option value="Washington" selected="selected">Washington
                                                    </option>
                                                    <option value="Sydney" selected="selected">Sydney</option>
                                                    <option value="Beijing" selected="selected">Beijing</option>
                                                    <option value="Cairo" selected="selected">Cairo</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">History of jobs</h5>
                  </button>
                </h2>
                        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">History of jobs</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Name of organization</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Title of job</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="Title of job">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Year</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="date" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="Title of job">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Job Amount</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="Job Amount">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputLastName1" class="form-label">Status</label>
                                                <div class="input-group"> <span
                                                        class="input-group-text bg-transparent"><i
                                                            class="bx bxs-user"></i></span>
                                                    <input type="text" class="form-control border-start-0"
                                                        id="inputLastName1" placeholder="Job Amount">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                    <i class="bx bxs-user me-1 font-22 text-primary"></i>
                    <h5 class="mb-0 text-primary">Attach Document Upload</h5>
                  </button>
                </h2>
                        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="card border-top border-0 border-4 border-danger">
                                    <div class="card-body p-5">
                                        <!-- <div class="card-title d-flex align-items-center">
                                            <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                            </div>
                                            <h5 class="mb-0 text-primary">Attach Document Upload</h5>
                                        </div> -->
                                        <hr>
                                        <form class="row g-3">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">BBP Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">PENCOM Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>  <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">ITF Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>  <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">NSITF Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>  <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">AUDITED Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>  <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label">CAC Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>  <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label"> Professional certificates like COREN Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                              <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="form-label"> CV of key staff
                                                        (if required) Upload </label>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div> 
                  
                </div>
            </div>
        </div>
    </div>
    <!--end page content -->
</div>