<div class="wrapper">
    <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
        <div class="container-fluid">
            <div class="bg-front">
                        
            
            <div class="row">
                <div class="col-lg-1 col-md-12 col-xs-12"></div>

                <div class="col-xl-4 col-lg-6 col-md-12 col-xs-12 p-4">
        
                            <div class="mb-4 text-center">
                                <img src="assets/images/logo-img.png" width="180" alt="">
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="border p-4 rounded">
                                        <div class="text-center">
                                            <h3 class="head-in">Registeration Form</h3>
                                           
                                        </div>
                                        <!-- <div class="d-grid">
                                            <a class="btn my-4 shadow-sm btn-white" href="javascript:;"> <span class="d-flex justify-content-center align-items-center">
                              <img class="me-2" src="assets/images/icons/search.svg" width="16" alt="Image Description">
                              <span>Sign in with Google</span>
                                                </span>
                                            </a> <a href="javascript:;" class="btn btn-facebook"><i class="bx bxl-facebook"></i>Sign in with Facebook</a>
                                        </div> -->
                                        <div class="login-separater text-center mb-4"> <span>OR REGISTERATION WITH EMAIL </span>
                                            <hr>
                                        </div>
                                        <div class="form-body">
                                            <form class="row g-3">
                                                <div class="col-12">
                                                    <label for="inputEmailAddress" class="form-label">Full Name</label>
                                                    <input type="text" class="form-control" id="inputEmailAddress" placeholder="Full Name">
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputEmailAddress" class="form-label">Email Address</label>
                                                    <input type="email" class="form-control" id="inputEmailAddress" placeholder="Email Address">
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputChoosePassword" class="form-label">Enter Password</label>
                                                    <div class="input-group" id="show_hide_password">
                                                        <input type="password" class="form-control border-end-0" id="inputChoosePassword" value="" placeholder="Enter Password"> 
                                                        <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputEmailAddress" class="form-label">Phone</label>
                                                    <input type="text" class="form-control" id="inputEmailAddress" placeholder="Phone Number">
                                                </div>
                                                
                                                <div class="col-md-12">
                                                    <div class="form-check">
                                                        <!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                                                        <label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label> -->
                                                        <p>Don't have an account yet? <a routerLink="/login">Sign in here</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-md-6 text-end">	<a href="authentication-forgot-password.html">Forgot Password ?</a>
                                                </div> -->
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <button type="submit" class="btn btn-primary rg-bt"><i class="bx bx-user"></i>Register</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                </div>
                <div class="col-xl-6 col-lg-4 col-md-12 col-xs-12">
                    
                </div>
                <div class="col-lg-1 col-md-12 col-xs-12"></div>
            </div>
        </div>
           
           
          
            <!--end row-->
        </div>
    </div>
</div>
