.bg{
    background-image: url(../../../Images/bg3.png);
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
/* .card{
    background-color: #0a3255;
    color: #f9fafb;
    box-shadow: 0 0.3rem 1.8rem rgb(0 0 0 / 47%);
} */

.wrap-login100 {
    padding: 1%;
}

.form-body{
    color: #fff;
}
.head-in{
    color: #ffffff;
}
.login-separater span{
    background: #07135512;
    opacity: 0.9;
    color: #fff;
}

.flexSwitchCheckChecked{
    color: #fff;
}
.form-check-input:checked {
    background-color: #17a00e;
    border-color: #1872402b;
}
.form-check-input:focus {
    border-color: #353b43;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(11 215 74 / 25%);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #353b43;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(11 215 74 / 25%);
}
.rg-bt{
    color: #ffffff;
    background-color: #56ac7933;
    border-color: #56ac79bd;
    opacity: 0.9;
}
.rg-bt:hover {
    color: #fff;
    background-color: #0aa46b;
    border-color: #0aa46b;
}
.text-center{
    color: #fff;
}
